# Ignore Python virtual environments
.venv/C

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

download_and_analyze_from_iNaturalist/PROVA_fragola_verde/observations/*.json
